# Следующая команда работает для загрузки при использовании Git для Windows:
# curl -LOf http://gist.githubusercontent.com/kmorcinek/2710267/raw/.gitignore
#
# Загрузите этот файл с помощью PowerShell v3 под Windows с помощью следующей команды:
# Invoke-WebRequest https://gist.githubusercontent.com/kmorcinek/2710267/raw/ -OutFile .gitignore
#
# или wget:
# wget --no-check-certificate http://gist.githubusercontent.com/kmorcinek/2710267/raw/.gitignore

# Пользовательские файлы
* .суо
* .пользователь
* .sln.docstates

# Результаты сборки
[ дд ] ebug /
[ Rr ] освободить /
х64 /
[ си- бемоль ] в /
[ Оо ] Ъ /
# Папка сборки в настоящее время используется для сценариев сборки, и ее нельзя игнорировать
# сборка/

# NuGet-пакеты
* .nupkg
# Папка пакетов может быть проигнорирована из-за восстановления пакетов
** / пакеты / *
# кроме build/, который используется в качестве цели MSBuild.
! ** / пакеты / сборка /
# При необходимости раскомментируйте, однако обычно он будет перегенерирован при необходимости
# !**/пакеты/repositories.config

# Результаты теста MSTest
[ Tt ] est [ Rr ] esult * /
[ Bb ] уилд [ Ll ] ог. *

* _i.c
* _п.с
* .илк
* .мета
* .объект
* .pch
* .pdb
* .pgc
* .пгд
* .рсп
* .sbr
* .tlb
* .tli
* .tlh
* .tmp
* .tmp_proj
* .лог
* .vspscc
* .vsscc
.строит
* .pidb
* .scc

# файлы, созданные ОС #
.DS_Store *
Значок ?

# Кэш-файлы Visual C++
ипч /
* .апс
* .ncb
* .opensdf
* .sdf
* .кэш-файл

# Профайлер Visual Studio
* .psess
* .всп
* .VSpx

# Инструментарий автоматизации навигации
* .gpState

# ReSharper — надстройка для кодирования .NET.
_ReSharper * /
* . [ Rr ] e [ Ss ] арфист

# TeamCity — надстройка для сборки
_TeamCity *

# DotCover — это инструмент для покрытия кода
* .dotCover

# NCrunch
* .ncrunch *
. * хруст * .local.xml

# Выходная папка Installshield
[ Ээ ] Экспресс /

# DocProject — надстройка для создания документации
DocProject / сборкапомощь /
DocProject / Справка / * .HxT
DocProject / Справка / * .HxC
DocProject / Справка / * . hhc
DocProject / Помощь / * .hhk
DocProject / Справка / * .hhp
DocProject / Справка / Html2
DocProject / Справка / html

# Каталог с однократным щелчком
опубликовать /

# Публикация веб-вывода
* .Публикация.xml

# Выходные данные сборки Windows Azure
csx
* .build.csdef

# Каталог пакетов приложений Магазина Windows
Пакеты приложений /

# Другие
* .Кэш
КлиентБин /
[ Ss ] стиль [ Cc ] op. *
~$ *
* ~
* .dbmdl
* . [ стр ] ublish.xml
* .pfx
* .опубликовать настройки
модулиbin /
темпбин /

# Файл сайта EPiServer (VPP)
AppData /

# Проекты RIA/Silverlight
Сгенерированный_код /

# Резервное копирование файлов и отчетов о преобразовании старого файла проекта в новый
# Версия Visual Studio. Бэкапы не нужны, потому что у нас есть git ;-)
_UpgradeReport_Files /
Резервная копия * /
Журнал обновлений * .XML
Журнал обновлений * .htm

# вим
* .txt~
* .swp
* .swo

# Временные файлы при открытии LibreOffice в Ubuntu
.~ замок. *
 
# свн
.svn

# CVS — система управления версиями
** / СВС /

# Остатки от разрешения конфликтов в Source Control
* .ориг

# файлы SQL-сервера
** / App_Data / * .mdf
** / App_Data / * . ldf
** / App_Data / * .sdf


# Созданные LightSwitch файлы
Сгенерированные Артефакты /
_Pvt_Extensions /
ModelManifest.xml

# ==========================
# Детрит Windows
# ==========================

# Кэш файлов образов Windows
Thumbs.db
ehthumbs.db

# Конфигурационный файл папки
Рабочий стол.ini

# Корзина, используемая в файловых ресурсах
$РЕЦИКЛ.БИН /

# файлы хранилища сервисов для настольных компьютеров Mac
.DS_Store

# Кэш компилятора SASS
.sass-кэш

# Visual Studio 2014 CTP
** / * .sln.ide

# Visual Studio что-то временное
.vs /

# дотнет материал
проект.lock.json

# Против 2015+
* .vc.vc.opendb
* .vc.db

# Райдер
.идея /

# Код Visual Studio
.vscode /

# Выходная папка, используемая Webpack или другим материалом FE
** / модули_узла / *
** / wwwroot / *

# специфичный для SpecFlow
* .feature.cs
* .feature.xlsx. *
* .Specs_ * .html

# ####
# Конец основного списка игнорирования, ниже указаны пользовательские настройки «для каждого проекта» (шаблоны или путь)
# ####